
venv/
.virtualenvs/
.venv/
scripts/

__pycache__/
*.pyc

*.sqlite3
!db.sqlite3

# Ignore backup SQLite DB created by some tools
db.sqlite3.bak

*.log
*.pot
*.pyc
*.pyo
*.pyd
.Python

*.coverage
coverage.xml

staticfiles/

.DS_Store
Thumbs.db
